<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-3 offset-9">
            <div class="form-actions">
                <a href="#" [routerLink]="['/categories/add']" routerLinkActive="router-link-active" class="btn btn-success">Ajouter une catégorie</a>
            </div>
        </div>
    </div>
    <br>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> LISTE DES CATEGORIES D'AGENCE
                </div>
                <div class="card-body">
                    <table datatable class="row-border hover table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>NUMERO</th>
                                <th>NOM</th>
                                <th>MARKER</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let categorie of categories">
                                <td>{{categorie.id}} </td>
                                <td>{{categorie.nom}}</td>
                                <td>{{categorie.marker}}</td>
                                <td>
                                    <button class="btn btn-primary btn-action" routerLink="/categories/modifier/{{categorie.id}}"><i class=" fa fa-edit "></i></button>
                                    <button class="btn btn-danger btn-action " (click)="deleteCategorie(categorie.id) "><i class="fa fa-trash "></i></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>