<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card text-white py-5 d-md-down-none" style="width:44%; background-color: #e70128">
                            <div class="card-body text-center">
                                <div>
                                    <h2> <img src="https://is3-ssl.mzstatic.com/image/thumb/Purple118/v4/15/89/06/158906d6-a40d-876c-7f4a-cc403942aa7f/source/512x512bb.jpg" width="150" height="150" alt=""> </h2>
                                </div>
                            </div>
                        </div>


                        <div class="card p-4">
                            <div class="card-body">
                                <form (submit)="login($event)" #loginForm="ngForm">
                                    <h1>Connexion</h1>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-envelope"></i></span>
                                        </div>
                                        <input type="email" class="form-control" id="email" placeholder="Votre adresse mail" name="email" required>
                                        <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                                            <div [hidden]="!email.errors.required">
                                                <span><i class="fa fa-error text-danger"></i>Votre adresse mail est obligatoire</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control" id="password" placeholder="Votre mot de passe" name="password" required>
                                        <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
                                            <div [hidden]="!password.errors.required">
                                                <span><i class="fa fa-error text-danger"></i>Votre mot de passe est obligatoire</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-danger px-4" [disabled]="!loginForm.form.valid">Connexion</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>