<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-4 offset-8">
            <div class="form-actions">
                <a href="#" [routerLink]="['/agences/list']" routerLinkActive="router-link-active" class="btn btn-success">Retour</a>
                <a href="#" [routerLink]="['/agences/add']" routerLinkActive="router-link-active" class="btn btn-success">Ajouter une agence</a>
            </div>
        </div>
    </div>
    <br>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>IMPORTATION D'AGENCE AU FORMAT CSV OU XL
                    <div class="card-header-actions">
                        <button type="button" class="card-header-action btn btn-link btn-setting"><i class="icon-settings"></i></button>
                        <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
                    </div>
                </div>
                <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">
                    <form class="form-horizontal">

                        <div class="form-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Charger un fichier csv</span>
                                    </div>
                                    <input id="prependedInput" class="form-control" size="16" type="file">
                                </div>
                            </div>
                        </div>


                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                            <button class="btn btn-secondary" type="button">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>