<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-3 offset-9">
            <div class="form-actions">
                <a href="#" [routerLink]="['/users/list']" routerLinkActive="router-link-active" class="btn btn-success">Retour</a>
            </div>
        </div>
    </div><br>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>AJOUTER UN UTILISATEUR
                    <div class="card-header-actions">
                        <button type="button" class="card-header-action btn btn-link btn-setting"><i class="icon-settings"></i></button>
                        <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
                    </div>
                </div>
                <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nom et prénom &nbsp;<b style="color: red">*</b></span>
                                    </div>
                                    <input id="nom_prenom" name="nom_prenom" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Adresse mail &nbsp;<b style="color: red">*</b></span>
                                    </div>
                                    <input id="email" name="email" class="form-control" type="email" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Numéro de téléphone &nbsp;<b style="color: red">*</b></span>
                                    </div>
                                    <input id="telephone" name="telephone" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Mot de passe par defaut &nbsp;<b style="color: red">*</b></span>
                                    </div>
                                    <input id="password" name="password" class="form-control" size="16" type="password">
                                </div>

                            </div>
                        </div>

                        <div class="">
                            <p>Statut de l'utilisateur</p>
                        </div>
                        <p>
                            <input type="radio" value="true" id="test1">
                            <label for="test1">Administrateur</label> &nbsp;&nbsp;
                            <input type="radio" value="false" id="test2">
                            <label for="test2">Animateur</label>
                        </p>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" [disabled]="">Enregistrer</button>
                            <button class="btn btn-secondary" type="reset">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>