<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-4 offset-8">
            <div class="form-actions">
                <a href="#" [routerLink]="['/agences/list']" routerLinkActive="router-link-active" class="btn btn-success">Retour</a>
                <a href="#" [routerLink]="['/agences/import']" routerLinkActive="router-link-active" class="btn btn-success">Importer des agences</a>
            </div>
        </div>
    </div>
    <br>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>AJOUTER UNE AGENCE
                    <div class="card-header-actions">
                        <button type="button" class="card-header-action btn btn-link btn-setting"><i class="icon-settings"></i></button>
                        <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>

                    </div>
                </div>
                <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">
                    <form class="form-horizontal" (submit)="addAgence()" #addAgenceForm="ngForm">

                        <div class="form-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nom de l'agence &nbsp;<span style="color: red">*</span></span>
                                    </div>
                                    <input id="nom" name="nom" class="form-control" [(ngModel)]="model.nom" #nom="ngModel" type="text" required>
                                </div>
                                <div *ngIf="nom.errors && (nom.dirty || nom.touched)" class="alert alert-danger">
                                    <div [hidden]="!nom.errors.required">
                                        <span><i class="fa fa-error text-danger"></i>Le nom de l'agence est obligatoire</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Numero de telephone &nbsp;<span style="color: red">*</span></span>
                                    </div>
                                    <input id="telephone" name="telephone" [(ngModel)]="model.telephone" #telephone="ngModel" class="form-control" size="16" type="text" required>
                                </div>
                                <div *ngIf="telephone.errors && (telephone.dirty || telephone.touched)" class="alert alert-danger">
                                    <div [hidden]="!telephone.errors.required">
                                        <span><i class="fa fa-error text-danger"></i>Le numéro de téléphone est obligatoire</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Ville &nbsp;<span style="color: red">*</span></span>
                                    </div>
                                    <input id="ville" name="ville" [(ngModel)]="model.ville" #ville="ngModel" class="form-control" size="16" type="text" required>
                                </div>
                                <div *ngIf="ville.errors && (ville.dirty || ville.touched)" class="alert alert-danger">
                                    <div [hidden]="!ville.errors.required">
                                        <span><i class="fa fa-error text-danger"></i>La ville est obligatoire</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="controls">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Longitude &nbsp;<span style="color: red">*</span></span>
                                            </div>
                                            <input id="longitude" name="longitude" [(ngModel)]="model.longitude" #longitude="ngModel" class="form-control" size="16" type="text" required>
                                        </div>
                                        <div *ngIf="longitude.errors && (longitude.dirty || longitude.touched)" class="alert alert-danger">
                                            <div [hidden]="!longitude.errors.required">
                                                <span><i class="fa fa-error text-danger"></i>La longitude est obligatoire</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.col-->

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="controls">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Latitude &nbsp;<span style="color: red">*</span></span>
                                            </div>
                                            <input id="latitude" name="latitude" [(ngModel)]="model.latitude" #latitude="ngModel" class="form-control" size="16" type="text" required>
                                        </div>
                                        <div *ngIf="latitude.errors && (latitude.dirty || latitude.touched)" class="alert alert-danger">
                                            <div [hidden]="!latitude.errors.required">
                                                <span><i class="fa fa-error text-danger"></i>La latitude est obligatoire</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.col-->
                        </div>
                        <!--/.row-->


                        <div class="form-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Description de l'agence &nbsp;<span style="color: red">*</span></span>
                                    </div>
                                    <textarea id="situation_geographique" name="situation_geographique" [(ngModel)]="model.situation_geographique" #situation_geographique="ngModel" class="form-control" rows="3" required></textarea>
                                </div>
                                <div *ngIf="situation_geographique.errors && (situation_geographique.dirty || situation_geographique.touched)" class="alert alert-danger">
                                    <div [hidden]="!situation_geographique.errors.required">
                                        <span><i class="fa fa-error text-danger"></i>La description du lieu est obligatoire</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Selectionnez la catégorie de l'agence &nbsp;<span style="color: red">*</span></span>
                                    </div>

                                    <div class="select">
                                        <select name="slct" id="slct" [(ngModel)]="model.categorie_id" #categorie_id="ngModel">
                                        <option *ngFor="let categorie of categories" value="{{categorie.id}}"> {{categorie.nom}} </option>
                                      </select>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Statut de l'agence &nbsp;<span style="color: red">*</span></span>
                                    </div>

                                    <div class="radiobtn">
                                        <input type="radio" id="actif" name="statut" value="actif" [(ngModel)]="model.statut" #statut="ngModel" />
                                        <label for="actif">Active</label>
                                    </div>

                                    <div class="radiobtn">
                                        <input type="radio" id="Inactif" name="statut" value="Inactif" [(ngModel)]="model.statut" #statut="ngModel" />
                                        <label for="Inactif">Inactif</label>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" [disabled]="!addAgenceForm.form.valid">Enregistrer</button>
                            <button class="btn btn-secondary" type="reset">Réinitialiser</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>