<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-4 offset-8">
            <div class="form-actions">
                <a href="#" [routerLink]="['/agences/add']" routerLinkActive="router-link-active" class="btn btn-success">Ajouter une agence</a>
                <a href="#" [routerLink]="['/agences/import']" routerLinkActive="router-link-active" class="btn btn-success">Importer des agences</a>
            </div>
        </div>
    </div>
    <br>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> LISTE DES AGENCES DISPONIBLES
                </div>
                <div class="card-body">
                    <table datatable class="row-border hover table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Situation G.</th>
                                <th>Telephone</th>
                                <th>Ville</th>
                                <th>Categorie</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let agence of agences">
                                <td> {{agence.nom}} </td>
                                <td>{{agence.situation_geographique}}</td>
                                <td>{{agence.telephone}}</td>
                                <td>{{agence.ville}}</td>
                                <td>{{agence.categorie_id}}</td>
                                <td>
                                    <span class="badge badge-info">{{agence.statut}}</span>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-action" routerLink="/agences/modifier/{{agence.id}}"><i class=" fa fa-edit "></i></button>
                                    <button class="btn btn-danger btn-action " (click)="deleteAgence(agence.id) "><i class="fa fa-trash "></i></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>