<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-3 offset-9">
            <div class="form-actions">
                <a href="#" [routerLink]="['/users/add']" routerLinkActive="router-link-active" class="btn btn-success">Ajouter un utilisateur</a>
            </div>
        </div>
    </div>
    <br>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> LISTE DES UTILISATEURS
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Situation G.</th>
                                <th>Telephone</th>
                                <th>Ville</th>
                                <th>Categorie</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Vishnu Serghei</td>
                                <td>2012/01/01</td>
                                <td>Member</td>
                                <td>Man</td>
                                <td>agence yup</td>
                                <td>
                                    <span class="badge badge-success">Actif</span>
                                </td>
                                <td>
                                    <span><a class="btn btn-success mr-5"><i class="fa fa-edit" aria-hidden="true"></i></a></span>
                                    <span><a class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Zbyněk Phoibos</td>
                                <td>2012/02/01</td>
                                <td>Staff</td>
                                <td>abidjan</td>
                                <td>agence SG</td>
                                <td>
                                    <span class="badge badge-danger">Inactif</span>
                                </td>
                                <td>
                                    <span><a class="btn btn-success mr-5"><i class="fa fa-edit" aria-hidden="true"></i></a></span>
                                    <span><a class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></span> </td>
                            </tr>
                            <tr>
                                <td>Einar Randall</td>
                                <td>2012/02/01</td>
                                <td>Admin</td>
                                <td>Dabou</td>
                                <td>Agence partenaire</td>
                                <td>
                                    <span class="badge badge-success">Actif</span>
                                </td>
                                <td>
                                    <span><a class="btn btn-success mr-5"><i class="fa fa-edit" aria-hidden="true"></i></a></span>
                                    <span><a class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Félix Troels</td>
                                <td>2012/03/01</td>
                                <td>Member</td>
                                <td>bassam</td>
                                <td>agence yup</td>
                                <td>
                                    <span class="badge badge-warning">Suspendu</span>
                                </td>
                                <td>
                                    <span><a class="btn btn-success mr-5"><i class="fa fa-edit" aria-hidden="true"></i></a></span>
                                    <span><a class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Aulus Agmundr</td>
                                <td>2012/01/21</td>
                                <td>Staff</td>
                                <td>bonoua</td>
                                <td>agence yup</td>
                                <td>
                                    <span class="badge badge-success">Active</span>
                                </td>
                                <td>
                                    <span><a class="btn btn-success mr-5"><i class="fa fa-edit" aria-hidden="true"></i></a></span>
                                    <span><a class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>