<app-header [navbarBrandRouterLink]="['/dashboard']" [asideMenuToggler]=false [fixed]="true" [navbarBrandFull]="{src:'assets/img/brand/yup_slide.jpg', width: 55, height: 55, alt: 'YUP Logo'}" [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 55, height: 45, alt: 'YUP Logo'}"
    [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown placement="bottom right">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
                <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="Sosthene" />
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Mon compte</a>
                <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Deconnexion</a>
            </div>
        </li>
    </ul>
</app-header>


<div class="app-body">
    <app-sidebar [fixed]="true" [display]="'lg'">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <!-- Main content -->
    <main class="main">
        <cui-breadcrumb>
            <!-- Breadcrumb Menu-->
            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                </div>
            </li>
        </cui-breadcrumb>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.container-fluid -->
    </main>
</div>



<app-footer>
    <span><a href="#">YUP</a> &copy; 2019.</span>
</app-footer>