<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-3 offset-9">
            <div class="form-actions">
                <a href="#" [routerLink]="['/categories/list']" routerLinkActive="router-link-active" class="btn btn-success">Retour</a>
            </div>
        </div>
    </div><br>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>AJOUTER UNE CATÉGORIE
                    <div class="card-header-actions">
                        <button type="button" class="card-header-action btn btn-link btn-setting"><i class="icon-settings"></i></button>
                        <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
                    </div>
                </div>
                <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">

                    <form class="form-horizontal" (submit)="updateCategorie()" #editCategorieForm="ngForm">

                        <div class="form-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nom de la catégorie &nbsp;<span style="color: red">*</span></span>
                                    </div>
                                    <input id="nom" name="nom" [(ngModel)]="categorie.nom" #nom="ngModel" class="form-control" type="text">
                                </div>
                                <div *ngIf="nom.errors && (nom.dirty || nom.touched)" class="alert alert-danger">
                                    <div [hidden]="!nom.errors.required">
                                        <span><i class="fa fa-error text-danger"></i>Le nom de la categorie est obligatoire</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nom de la catégorie &nbsp;<span style="color: red">*</span></span>
                                    </div>
                                    <image-upload [max]="1" [buttonCaption]="'Parcourir'" [dropBoxMessage]="''" [extensions]="['jpg','jpeg','gif','png']" (isPending)="disableSendButton($event)" (onFileUploadFinish)="imageUploaded($event)" (onRemove)="imageRemoved($event)"></image-upload>
                                </div>
                                <img src="{{file_src}}" width="100" height="100" alt="">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <input type="hidden" *ngIf="photo && photo.length > 0" [(ngModel)]="categorie.photo" name="photo" #photo="ngModel">
                            </div>
                        </div>


                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" id="btn-save" [disabled]="!editCategorieForm.form.valid">Enregistrer</button>
                            <button class="btn btn-secondary" (click)="goBack()">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>