<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="items">
                <div class="icon-wrapper">
                    3423
                </div>
                <div class="project-name">
                    <p>Type yup</p>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="items">
                <div class="icon-wrapper">
                    4323
                </div>
                <div class="project-name">
                    <p> Type sg</p>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="items">
                <div class="icon-wrapper">
                    5434
                </div>
                <div class="project-name">
                    <p>Partenaires</p>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="items">
                <div class="icon-wrapper">
                    34000
                </div>
                <div class="project-name">
                    <p>au total</p>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <br><br><br><br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title mb-0">Statistiques</h4>
                    <div class="small text-muted">November 2017</div>
                </div>
                <!--/.col-->
                <div class="col-sm-7 d-none d-md-block">
                    <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
                    <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                        <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Jour</label>
                        <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Mois</label>
                        <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Année</label>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->

        </div>

    </div>
    <!--/.row-->
</div>