$primary_color: #e70128;
$secondary_color: #E5E6F1;
body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.items {
    background-color: $primary_color;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-gap: 5px;
    cursor: pointer;
    border: 3px dotted #fff;
    transition: all 0.6s;
}

.icon-wrapper,
.project-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper {
    font-size: 40px;
    color: $secondary_color;
    transform: translateY(0px);
    transition: all 0.6s;
}

.icon-wrapper {
    align-self: end;
}

.project-name {
    align-self: start;
}

.project-name p {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: $secondary_color;
    transform: translateY(0px);
    transition: all 0.5s;
}

.items:hover {
    border: 3px solid $primary_color;
    & .project-name p {
        transform: translateY(-10px);
    }
    & .icon-wrapper {
        transform: translateY(5px);
    }
}

.sidebar-minimized .sidebar .nav-item:hover>.nav-link {
    background: #e70128;
}

.btn-primary {
    color: #fff;
    background-color: #e70128;
    border-color: #e70128;
     :hover {
        color: #fff;
        background-color: #e70128;
        border-color: #e70128;
    }
}

a {
    color: #e70128;
    text-decoration: none;
    background-color: transparent;
     :hover {
        color: #e70128;
    }
}